@using AdafyExercise.Data 

<div class="is-flex is-flex-direction-column has-text-white">
    @if (isHome) {
        <h2 class="is-size-2">Kotijoukkue</h2>
    }
    else {
        <h2 class="is-size-2">Vierasjoukkue</h2>
    }
    <div class="mx-auto">
        <figure class="image is-128x128">
            <img src="@team.LogoUrl" alt="@team.Name logo"/>
        </figure>
    </div>
    <div class="has-text-centered mt-1">
        <h2 class="is-size-3">@team.Name</h2>
    </div>
</div>

@code {
    [Parameter]
    public Team team { get; set; }

    [Parameter]
    public bool isHome { get; set; }
}
